.country__country-name {
    text-overflow: ellipsis;
    font-weight: bold;
    font-size: 48px;
    line-height: 80px;

}

.country__table-text {
    width: 80%;
    margin-left: 15px;
    font-size: 24px;

}

.country__table {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: 40px;
}

